body {
    font-family: 'Gruppo', cursive;
    font-size: 10px;
    background-color: #FCFCFC;
  }


.overview {
  font-family: 'Gruppo', cursive;
  font-size: 10px;
  background-color: white;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 20px;
  background-color: #f5f5f5;
  margin-top: 0;
  margin-bottom: 0;
}

footer p {
  font-family: 'Gruppo', cursive;
  color: #777777;
}